@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

body {
    /*background-image: url("../images/9357793-horizontal-leite-alimento-fundo-vetor.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(81, 159, 177);
  }

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.card{
    background-color: rgb(247, 244, 244);
    padding: 30px;
    border-radius: 5%;
    box-shadow: 3px 3px 1px 0px #00000050;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 2px solid rgb(129, 119, 119);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 15px;
    transition: all .3s ease-out;
    border-radius: 0;
    
  }
  .label-float{
    position: relative;

    padding-top: 0;
    margin-top: 5%;
    margin-bottom: 7%;
  }
  
  .label-float input:focus{
    border: 2px solid rgb(0, 0, 0);
  }

  .label-float label{
    color: #160e0e65;
    pointer-events: none;
    position: absolute;
    top: 50%; /* Centralizando verticalmente */
    left: 5px; /* Ajusta a distância da esquerda */
    transform: translateY(-50%); /* Ajuste fino para centralizar no meio */
    transition: all .35s ease-out;
  }

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 14px;
  top: -16px; /* Mantém a animação para o topo ao focar no input */
  transform: translateY(0); /* Reseta a transformação ao focar */
  color: #160e0e
}

button{
    background-color: transparent;
    border-color: #000;
    color: #000;
    padding: 9px;
    font-weight: bold;
    font-size: 13pt;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
    min-width: 100px;
    min-height: 40px;
  }

  button:hover{
    background-color: rgb(129, 119, 119);
    color: #fff;
  }

  .justify-center{
    display: flex;
    justify-content: center;
  }
  
  hr{
    margin-top: 9%;
    margin-bottom: 7%;
    width: 60%;
  }
  
  p{
    color: #000000;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
    margin-top: 4%;
    
  }
  
  a{
    color: #862a8f;
    font-weight: bold;
    transition: all .3s ease-out;
    
  }

  .hyperlink-footer{
    text-decoration: none;
  }
  
  a:hover{
    color: #c928d8;
  }  

  .footer-text {
    position: fixed;
    bottom: 0px; /* Ajusta a distância da parte inferior da tela */
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    color: #000; 
    font-weight: bold;
    text-align: center;
    padding: 5px 10px; /* Espaçamento ao redor do texto */
    border-radius: 5%; /* Bordas arredondadas */
    background-color: rgb(247, 244, 244, 0.180);
    box-shadow: 3px 3px 1px 0px #00000010;
}

.hide{
  display: none !important;
  
}

#result-container{
  text-align: center;
  display: flex;
  flex-direction: column;
}

#imc-number{
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

#imc-info{
  font-size: 1.4rem;
  color: #000000;
}

#result-container h3{
  margin-top: 1rem;
}

#imc-table{
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.table-header{
  font-weight: bold;
  color: #250abe;
}

.table-header, 
.table-data{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #4444;
}

.table-header h4, 
.table-data p1{
  flex: 1;
  font-weight: bold;
}

p1{
  font-size: 11pt;
}

h4{
  font-size: 13pt;
}

.card #result-container{
  width: 100%;
  min-width: 400px;
  min-height: 400px;
}

.table-header h4:nth-child(3),
.table-data p1:nth-child(3){
  max-width: 110px;
}

#back-btn{
  align-self: center;
}

.good{
  color: #12db34;
}

.low{
  color: #dbce12;
}

.medium{
  color: #db6212;
}

.high{
  color: #db1912;
}
